IMDB Recommender/Spotify Test/*.env
IMDB Recommender/Chess Statistics Analysis/*.env
IMDB Recommender/*.png
IMDB Recommender/*.txt
IMDB Recommender/*.csv
IMDB Recommender/build/
IMDB Recommender/dist/
IMDB Recommender/*.gif
IMDB Recommender/ChatGPT_API.txt